<meta name="viewport" content="width=device-width, initial-scale=1"> /** Added viewport to header **/

* { /** Added box-sizing **/
  box-sizing: border-box;
}

@media screen and (min-width: 575px) { /** Added media query, line-height, text-align, display, and float information for one column of elements **/
body {
  background-color: #dadada;
  font-size: 10px;
  line-height: 2em;
  text-align: left;
  display: block;
  float: left;
 }
}

@media screen and (min-width: 575px) { /** Added media query, div, margin, width, display, and float information for two column elements in tablet size **/
  div {
    margin: 1%
    width: 48%
    display:inline-block;
    float: left;
  }
}

@media screen and (min-width: 991px) { /** Added media query, div, margin, width, display, and float informationfor four column element in laptop size **/
  div {
    margin: 1%
    width: 48%
    display: inline-block;
    float: left;
  }  
}
