* { /** Added box-sizing **/
  box-sizing: border-box;
}

 body { /** New Updated styling - body and div - to reflect one column layout **/
  background-color: #dadada; /** NEW Added missing semicolon **/
  font-size: 10px;
  line-height: 2em;
  text-align: left;
  display: block;
 }
 div {
    margin: 1%; /** New Added missing semicolon **/
    width: 100%; /** NEW Added missing semicolon; increased width to 100% for one column layout **/
    display:inline-block;
    float: left;
 } /** New Moved previews of cities here instead of under the @media groupings **/
 .preview.baku { /** New Added images, background-size, and height, width, and margin **/
    background-image: url("../images/baku.jpg"); /** NEW Added missing .. before /images **/
    background-size: cover; /** New Added missing semicolon **/
 }
  .preview.london { /** New Added images, background-size, and height, width, and margin **/
    background-image: url("../images/london.png");
    background-size: cover; /** New Added missing semicolon **/
 }
  .preview.madrid { /** New Added images, background-size, and height, width, and margin **/
    background-image: url("../images/madrid.jpg"); /** NEW Added missing .. before /images **/
    background-size: cover; /** New Added missing semicolon **/
 }
  .preview.rome { /** New Added images, background-size, and height, width, and margin **/
    background-image: url("../images/rome.jpg"); /** NEW Added missing .. before /images **/
    background-size: cover; /** New Added missing semicolon **/
 }

@media screen and (min-width: 575px) { /** Added media query, div, margin, width, display, and float information for two column elements in tablet size **/
  div {
    margin: 1%; /** New Added missing semicolon **/
    width: 40%; /** New Added missing semicolon; reduced width size to 40% **/
    display:inline-block;
    float: left;
  }

@media screen and (min-width: 991px) { /** Added media query, div, margin, width, display, and float informationfor four column element in laptop size **/
  div {
    margin: 1%; /** New Added missing semicolon **/
    width: 22%; /** New Added missing semicolon and reduced width to 22% **/
    display: inline-block;
    float: left;
  }  
 
